*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:'Cinzel', serif;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:white;
}

ul{
    list-style:none;
}

header{
    position:relative;
    width:100%;
    height:auto;
    overflow:hidden;
}

.bg-video{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    object-fit:cover;
    transform:translate(-50%, -50%);
    z-index:1;
}

.hidden {
    display: none;
}

.overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.7),
        rgba(20,0,0,0.2),
        rgba(0,0,0,0.9)
    );

    z-index:2;
}

nav{
    position:relative;
    z-index:5;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px 80px;
}

.logo{
    width: 30px;
    height: 35px;
}

nav ul{
    display:flex;
    gap:40px;
}

nav a{
    position:relative;
    transition:0.3s;
}

nav a::after{
    content:'';

    position:absolute;
    left:0;
    bottom:-6px;

    width:0%;
    height:1px;

    background:white;

    transition:0.3s;
}

nav a:hover::after{
    width:100%;
}

.hero-content{
    position:relative;
    z-index:5;

    width:100%;
    height:calc(100vh - 100px);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.hero-content h1{
    font-size:5rem;
    letter-spacing:5px;

    text-shadow:
    0 0 20px rgba(255,255,255,0.2);
}

.hero-content p{
    margin-top:20px;

    max-width:700px;

    font-size:1rem;
    line-height:1.8;

    color:#d6d6d6;
}

.hero-btn{
    margin-top:40px;

    padding:14px 36px;

    border:1px solid rgba(255,255,255,0.4);

    background:transparent;
    color:white;

    font-family:'Cinzel', serif;

    cursor:pointer;

    transition:0.3s;
}

.hero-btn:hover{
    background:rgba(255,255,255,0.1);

    transform:translateY(-3px);
}

main{
    padding:120px 12%;
}

.content{
    max-width:1000px;
    margin:auto;
}

.content h2{
    font-size:3rem;
    margin-bottom:30px;
}

.content p{
    color:#c9c9c9;

    line-height:2;
    margin-bottom:25px;

    font-size:1rem;
}

footer {
    border-top:1px solid rgba(255,255,255,0.08);
    background-color: #e83046;
    padding:40px 12%;

    justify-content:space-between;
    align-items:center;

    flex-wrap:wrap;

    gap:20px;
}

footer p{
    color:#FFFF;
    font-size:0.9rem;
    text-align: center;
}

.footer-links{
    display:flex;
    gap:25px;
}

.footer-links a{
    color:#FFFF;
    transition:0.3s;
}

.footer-links a:hover{
    color:rgb(193, 193, 193);
}

@media(max-width:900px){

    nav{
        padding:25px 30px;
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h1{
        font-size:3rem;
    }

    .content h2{
        font-size:2rem;
    }

    footer{
        flex-direction:column;
        text-align:center;
    }

}

.trailer-container {
    margin-top:80px;
}

.trailer-container h3 {
    margin-bottom:25px;

    font-size:2rem;
    letter-spacing:2px;
}

.trailer-container iframe {
    width:100%;
    max-width:1000px;
    height:560px;

    border:none;
    border-radius:12px;

    box-shadow:
    0 0 40px rgba(255,255,255,0.08);
}

@media(max-width:900px){
    .trailer-container iframe{
        height:300px;
    }
}

.platforms{
    padding-left: 10px;
    margin-top: 100px;
    text-align:center;
}

.platforms h2{
    font-size:2rem;
    margin-bottom:50px;
    letter-spacing:2px;
}

.platform-logos{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
}

.platform-logos img{
    height:120px;
    width:auto;
    opacity:0.9;
    transition:0.3s;
}

.platform-logos img:hover{
    opacity:1;
    transform:translateY(-5px);
}

.header-overlay{
    position:absolute;
    inset:0;

    background:
    radial-gradient(
        circle at center,
        rgba(120,0,0,0.15),
        transparent 70%
    );

    pointer-events:none;
}

.page-title{
    position:relative;
    z-index:5;

    flex:1;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px 20px;
}

.page-title h1{
    font-size:5rem;

    letter-spacing:5px;

    margin-bottom:20px;
}

.page-title p{
    max-width:700px;

    line-height:1.8;

    color:#cfcfcf;
}

.gallery-main{
    /* padding:100px 10%; */
    /* padding: 40px 10% 100px; */
    padding: 50px 10%;
}

.gallery-filters{
    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    margin-bottom:70px;
}

.filter-btn{
    padding:12px 28px;

    background:transparent;

    border:1px solid rgba(255,255,255,0.15);

    color:white;

    cursor:pointer;

    transition:0.3s;
}

.filter-btn:hover,
.filter-btn.active{
    background:rgba(255,255,255,0.08);

    border-color:rgba(255,255,255,0.3);
}

.gallery-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit, minmax(320px, 1fr));

    gap:30px;
}

.gallery-item{
    overflow:hidden;

    border-radius:12px;

    background:#111;

    transition:0.4s;
}

.gallery-item img{
    width:100%;
    height:100%;

    display:block;

    object-fit:cover;

    transition:0.5s;
}

.gallery-item:hover{
    transform:translateY(-6px);

    box-shadow:
    0 0 30px rgba(255,255,255,0.08);
}

.gallery-item:hover img{
    transform:scale(1.05);
}

@media(max-width:900px){

    .page-title h1{
        font-size:3rem;
    }

    .gallery-main{
        padding:80px 20px;
    }
}

.gallery-slider{
    position:relative;

    width:100%;
    height:65vh;

    overflow:hidden;

    margin-top:-120px;
}

.slides{
    width:100%;
    height:100%;
}

.slide{
    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    opacity:0;

    transform:scale(1.05);

    transition:
    opacity 1.5s ease,
    transform 6s ease;

    z-index:1;
}

.slide.active{
    opacity:1;

    transform:scale(1);
}

.slider-overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.25),
        rgba(0,0,0,0.85)
    );

    z-index:2;
}

.slider-content{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    z-index:3;

    text-align:center;

    width:90%;
}

.slider-content h1{
    font-size:5rem;

    letter-spacing:5px;

    margin-bottom:20px;

    text-shadow:
    0 0 25px rgba(255,255,255,0.2);
}

.slider-content p{
    color:#d0d0d0;

    font-size:1.1rem;

    letter-spacing:1px;
}

@media(max-width:900px){

    .gallery-slider{
        height:50vh;
    }

    .slider-content h1{
        font-size:3rem;
    }

}

.image-viewer{
    position:fixed;

    inset:0;

    background:rgba(0,0,0,0.92);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:99999;

    padding:40px;
}

.viewer-image{
    max-width:90%;
    max-height:90vh;

    border-radius:10px;

    box-shadow:
    0 0 40px rgba(255,255,255,0.08);

    animation:viewerFade 0.3s ease;
}

.close-viewer{
    position:absolute;

    top:30px;
    right:40px;

    font-size:3rem;

    color:white;

    cursor:pointer;

    transition:0.3s;
}

.close-viewer:hover{
    transform:scale(1.1);

    opacity:0.7;
}

@keyframes viewerFade{

    from{
        opacity:0;
        transform:scale(0.95);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}

.lore-header{
    position:relative;

    min-height:75vh;

    overflow:hidden;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.85),
        rgba(20,0,0,0.55)
    );
}

.lore-hero{
    position:relative;

    z-index:5;

    min-height:75vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:0 20px;
}

.lore-hero h1{
    font-size:6rem;

    letter-spacing:10px;

    margin-bottom:30px;

    text-shadow:
    0 0 30px rgba(255,255,255,0.15);
}

.lore-hero p{
    max-width:700px;

    font-size:1.1rem;

    line-height:2;

    color:#d3d3d3;
}

.lore-main{
    width:100%;
}

.lore-section{
    display:flex;

    align-items:center;

    gap:80px;

    padding:120px 10%;

    flex-wrap:wrap;
}

.lore-section.reverse{
    flex-direction:row-reverse;
}

.lore-text{
    flex:1;

    min-width:320px;
}

.section-subtitle{
    display:block;

    color:#b44;

    letter-spacing:3px;

    margin-bottom:20px;

    text-transform:uppercase;

    font-size:0.85rem;
}

.lore-text h2{
    font-size:3rem;

    margin-bottom:35px;

    line-height:1.2;
}

.lore-text p{
    color:#c9c9c9;

    line-height:2;

    margin-bottom:25px;
}

.lore-image{
    flex:1;

    min-width:320px;
}

.lore-image img{
    width:100%;

    border-radius:12px;

    display:block;

    box-shadow:
    0 0 40px rgba(255,255,255,0.05);
}

.lore-full{
    position:relative;

    min-height:70vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    overflow:hidden;

    background:
    url('../images/gallery/scenarios/09a_peak.png')
    center/cover;
}

.lore-full-overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.9)
    );
}

.lore-full-content{
    position:relative;

    z-index:5;

    width:90%;

    max-width:850px;
}

.lore-full-content h2{
    font-size:4rem;

    margin:30px 0;
}

.lore-full-content p{
    line-height:2;

    color:#d0d0d0;
}

.lore-ending{
    padding-left: 20px;
    margin-top: 100px;
    text-align:center;
}

.lore-ending h2{
    font-size:3rem;

    margin-bottom:30px;
}

.lore-ending p{
    color:#c8c8c8;
}

@media(max-width:900px){

    .lore-hero h1{
        font-size:3rem;
    }

    .lore-text h2{
        font-size:2rem;
    }

    .lore-full-content h2{
        font-size:2.5rem;
    }

    .lore-section{
        padding:80px 20px;
    }

}

.world-header{
    position:relative;

    min-height:75vh;

    overflow:hidden;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.9),
        rgba(25,0,0,0.5)
    );
}

.world-hero{
    position:relative;
    z-index:5;
    min-height:75vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.world-hero h1{
    font-size:6rem;

    letter-spacing:10px;

    margin-bottom:25px;

    text-shadow:
    0 0 30px rgba(255,255,255,0.12);
}

.world-hero p{
    max-width:700px;

    line-height:2;

    color:#d4d4d4;
}

.world-intro{
    text-align:center;

    padding:120px 20px 80px;
}

.world-intro h2{
    font-size:3rem;

    margin-bottom:30px;
}

.world-intro p{
    max-width:800px;

    margin:auto;

    line-height:2;

    color:#cfcfcf;
}

.world-section{
    display:flex;

    align-items:center;

    gap:80px;

    padding:120px 10%;

    flex-wrap:wrap;
}

.world-section.reverse{
    flex-direction:row-reverse;
}

.world-image{
    flex:1;

    min-width:320px;
}

.world-image img{
    width:100%;

    border-radius:14px;

    display:block;

    transition:0.5s;

    box-shadow:
    0 0 40px rgba(255,255,255,0.04);
}

.world-image img:hover{
    transform:scale(1.02);
}

.world-text{
    flex:1;

    min-width:320px;
}

.world-number{
    display:block;

    margin-bottom:20px;

    color:#a44;

    font-size:0.9rem;

    letter-spacing:4px;
}

.world-text h2{
    font-size:3rem;

    margin-bottom:30px;
}

.world-text p{
    color:#cfcfcf;

    line-height:2;

    margin-bottom:25px;
}

.world-final{
    position:relative;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    text-align:center;

    padding:120px 20px;

    background:
    linear-gradient(
        to bottom,
        #050505,
        #120202
    );
}

.world-final-overlay{
    position:absolute;
    inset:0;

    background:
    radial-gradient(
        circle at center,
        rgba(120,0,0,0.2),
        transparent 70%
    );
}

.world-final-content{
    position:relative;

    z-index:5;

    max-width:1000px;
}

.world-final-content h2{
    font-size:5rem;

    margin:30px 0;
}

.world-final-content p{
    line-height:2;

    color:#d0d0d0;

    margin-bottom:60px;
}

.world-final-content img{
    width:100%;

    border-radius:14px;

    box-shadow:
    0 0 60px rgba(255,255,255,0.05);
}

@media(max-width:900px){

    .world-hero h1{
        font-size:3rem;
    }

    .world-text h2{
        font-size:2rem;
    }

    .world-final-content h2{
        font-size:3rem;
    }

    .world-section{
        padding:80px 20px;
    }

}